.card {
    border-radius: 20px !important;
}

.graficoPiccolo {
    height: 250px;
}

.pannelloAggiungiDato {
    border-radius: 20px;
    background-color: white;
    width: 50%;
    display: none;
    border: 1px solid lightgrey;
    position: relative;
}

.form-control {
    border-radius: 25px !important;
    background-color: #fafafa !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.bottoneChiudiDesktop,
.bottoneChiudiMobile {
    color: black;
    background-color: transparent;
    border: none;
}

.bottoneChiudiMobile {
    display: none;
    font-weight: bolder;
}

.bottoneChiudiDesktop {
    display: block;
    position: relative;
    font-size: 32px;
    right: 5px;
    top: 3px;
}

/* Stile per il container delle immagini */
.image-container {
    max-width: 100%;
    /* Larghezza massima del contenitore */
    overflow-x: auto;
    /* Abilita lo scorrimento orizzontale quando necessario */
    white-space: nowrap;
    /* Assicura che le immagini rimangano su una singola riga */
    margin-bottom: 20px;
    /* Spazio inferiore tra il contenitore e altri elementi */
}

/* Stile per ogni singola immagine */
.image-container img {
    width: 150px;
    /* Dimensioni fisse per l'immagine */
    height: 150px;
    /* Altezza fissa per l'immagine */
    object-fit: cover;
    /* Scalare l'immagine per adattarla al contenitore */
    margin-right: 10px;
    /* Spazio destro tra le immagini */
    border: 1px solid #ccc;
    /* Bordo sottile per ogni immagine */
    border-radius: 25px;
}

@media (max-width: 768px) {
    .pannelloAggiungiDato {
        width: 100%;
    }

    .bottoneChiudiMobile {
        display: block;
    }

    .bottoneChiudiDesktop {
        display: none;
    }

    .titoloPannelloAggiungiDato {
        left: 0;
        margin-left: -15px;
    }
}

.formInput {
    margin-top: 3px !important;
    margin-left: -3px !important;
}

.cardAlim {
    height: 350px !important;
}

.ulAlim {
    min-height: 100px !important;
    max-height: 300px !important;
}