@import 'variabilies.css';

.header {
    background: linear-gradient(93deg, var(--color-header-gradient1) 0%, var(--color-header-gradient2) 102.84%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1px;
}

.headerMobile {
    height: 20% !important;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 64px;
}

.logo-text {
    font-family: 'Karantina', sans-serif;
    font-size: 36px;
    margin-left: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .logo-container {
        background: linear-gradient(93deg, var(--color-header-gradient1) 0%, var(--color-header-gradient2) 102.84%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .logo-image {
        width: 48px;
    }

    .logo-text {
        font-size: 38px;
        margin-left: 10px;
    }

    .userInfoLogo {
        font-size: 40px !important;
    }
}