.icon-image {
    width: 35px;
    height: auto;
}

.sticky-navbar {
    position: -webkit-sticky;
    position: sticky;
    bottom: 20px;
    z-index: 1020;
    padding: 10px;
    background: linear-gradient(90deg, #53a3e7 0%, #55dab9 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 300px;
    z-index: 100000000000000000;
}

.navbar .icon-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-column {
    text-align: center;
    padding: 5px;
    flex: 1;
}

.navbar {
    width: 25%;
    border-radius: 300px;
    margin-bottom: 100px;
    margin: 0 auto;
    padding: 12px;
    background: linear-gradient(90deg, #53a3e7 0%, #55dab9 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 100000000000000000;
}

@media (max-width: 768px) {
    .navbar {
        width: 75%;
        padding: 8px;
    }
}