.card-container {
    overflow-x: auto;
    /* Permette lo scroll orizzontale */
    white-space: nowrap;
    /* Impedisce la rottura delle righe */
    -webkit-overflow-scrolling: touch;
    /* Abilita lo scorrimento fluido su dispositivi touch */
}

.card-square {
    background-color: white;
    padding-top: 20px;
    border-radius: 25px;
    display: inline-block;
    width: 200px !important;
    height: 100px !important;
    /* Larghezza fissa delle card quadrate */
    margin-right: 10px;
}

.card-textMobile {
    display: none;
}

.card-text {
    display: block;
}

@media (max-width: 768px) {
    .card-square {
        display: inline-block;
        height: 100px !important;
        margin-right: 15px;
        padding: 30px;
    }

    .card-textMobile {
        display: block;
    }    

    .card-text {
        display: none;
    }    
}